.container {
    background: #f9f9f9;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/padding */
    /* top, right, bottom, left */
    padding: 20px 2% 20px 17%;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    border-radius: 8px;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 16px;
    row-gap: 30px;
    margin-top: 15px;
}

.video-list .thumbnail {
    width: 100%;
    border-radius: 5px;
}

.video-list .flex-div {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 7px;
}

.video-list .avatar {
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}