.sidebar {
    background: white;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}

.shortcut-links a img {
    width: 20px;
    margin-right: 20px;
}

.shortcut-links a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
 
.shortcut-links a:first-child {
    color: #ed3838;
}

.shortcut-links hr {
    border: 0;
    height: 1px;
    background: #ccc;
    /* width: 85%; */ /* not sure why we need this width yet */
}

.subscribed-list h3 {
    font-size: 1rem;
    margin: 20px 0;
    color: #ccc;
}

.subscribed-list img {
    border-radius: 50%;
    width: 32px;
    margin-right: 20px;
}

.subscribed-list a {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.small-sidebar {
    width: 5%;
}

.small-sidebar a p{
    display: none;
}

.small-sidebar h3 {
    display: none;
}

.small-sidebar hr {
    width: 50%;
    margin-bottom: 25px;
}
